*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: #020024;
    padding: 10px;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.Todo-App{
    width: 100%;
    max-width: 500px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 30px 20px 100px;
    border-radius: 10px;
}

.Todo-App h1{
    text-align: center;
    font-size: 30px;
    color: #020024;
    margin-bottom: 30px;
}

.input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:  #edeefe;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 5px 10px;
}

.input-container input[type="text"]{
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    padding: 5px;
    margin-left: 7px;
    font-size: 20px;
}

button{
    background: #020024;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover{
    background: #fff;
    color: #020024;
    transition: all 0.3s ease-in-out;
}

ul {
    max-height: 200px; /* Set the maximum height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

ul li {
    list-style: none;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    padding: 10px 10px 10px 40px; /* Leave space for checkbox icon */
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative; /* Needed for absolute positioning inside */
    transition: all 0.3s ease-in-out;
}

ul li:hover {
    background: #edeefe;
}

ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url('images/unchecked.png');
    background-size: cover;
    background-position: center;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
ul li.checked {
    background: #edeefe;
    text-decoration: line-through;
}
ul li.checked::before {
    background-image: url('images/checked.png');
    background-size: cover;
    background-position: center;
    
}
ul li span {
     position: absolute;
     right: 0%;
     top: 1px;
    font-size: 20px;
    width: 40px;
    color: #555;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}
ul li span:hover {
    background-color: black;
    border-radius: 50%;
    color: #fff;
    transition: all 0.3s ease-in-out;
}





